<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">">

    <security:global-method-security secured-annotations="enabled" />
 
    <security:http auto-config="true" use-expressions="true" access-denied-page="/login?error=403">
 
        <security:intercept-url pattern="/login.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/**" access="isAuthenticated()" />
 
        <security:form-login login-page="/login.xhtml" authentication-failure-url="/login?error=403" default-target-url="/index.xhtml" />
 
        <security:logout invalidate-session="true" logout-success-url="/login" logout-url="/logout" />
    </security:http>
 
    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service
                    data-source-ref="myContactDataSource"
                    users-by-username-query="select username, password, enabled from usuario where username = ?"
                    authorities-by-username-query="select u.username as login, u.authority as role from usuario u where u.username = ?" />
        </security:authentication-provider>
    </security:authentication-manager>
</beans>
