.categoria-6, .categoria-6 .fc-event-skin, .categoria-6 a { background-color: #ccff00 !important; border-color: #ccff00 !important;}

.categoria-3, .categoria-3 .fc-event-skin, .categoria-3 a { background-color: #00700d !important; border-color: #00700d !important;}

.categoria-1, .categoria-1 .fc-event-skin, .categoria-1 a { background-color: #0085c7 !important; border-color: #0085c7 !important;}

.categoria-4, .categoria-4 .fc-event-skin, .categoria-4 a { background-color: #ed6f00 !important; border-color: #ed6f00 !important;}

.categoria-5, .categoria-5 .fc-event-skin, .categoria-5 a { background-color: #15ff00 !important; border-color: #15ff00 !important;}

