<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://10.150.155.67/sifis" />
        <property name="username" value="root" />
        <property name="password" value="12345" />    
    </bean>
    
    <!-- AUTENTICAÇÃO -->
    <sec:http auto-config="true" access-denied-page="/acesso-negado.xhtml">
        <sec:form-login login-page="/login.xhtml" default-target-url="/index.xhtml" authentication-failure-url="/login.xhtml?erro=true"/>
        <sec:intercept-url pattern="/index.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <sec:intercept-url pattern="/login.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <sec:intercept-url pattern="/acesso-negado.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <sec:intercept-url pattern="/categorias-list.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/categorias-new.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/cidades-details.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/cidades-list.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/cidades-new-feriadomunicipal-new.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/cidades-new-feriadomunicipal.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/cidades-new-jurisdicao.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/cidades-new.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/feriados-list.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/feriados-new.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/fiscais-details-viagem.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/fiscais-details.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/fiscais-list.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/fiscais-new-ferias.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/fiscais-new.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/inspetorias-details-rota.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/inspetorias-details.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/inspetorias-list.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/inspetorias-new.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/procedimentos-details.xhtml" access="ROLE_SUPERADMIN, ROLE_PROCEDIMENTO_ADMIN, ROLE_PROCEDIMENTO_USER" />
        <sec:intercept-url pattern="/procedimentos-edit.xhtml" access="ROLE_SUPERADMIN, ROLE_PROCEDIMENTO_ADMIN" />
        <sec:intercept-url pattern="/procedimentos-list.xhtml" access="ROLE_SUPERADMIN, ROLE_PROCEDIMENTO_ADMIN, ROLE_PROCEDIMENTO_USER" />
        <sec:intercept-url pattern="/procedimentos-new.xhtml" access="ROLE_SUPERADMIN, ROLE_PROCEDIMENTO_ADMIN" />
        <sec:intercept-url pattern="/rotas-details-viagem.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/rotas-details.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/rotas-inspetoria-selection.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/rotas-list.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/rotas-new.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/viagens-details.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/viagens-list.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/viagens-new.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN" />
        <sec:intercept-url pattern="/viagens-schedule.xhtml" access="ROLE_SUPERADMIN, ROLE_PLANEJAMENTO_ADMIN, ROLE_PLANEJAMENTO_USER" />
        <sec:intercept-url pattern="/usuarios-list.xhtml" access="ROLE_SUPERADMIN" />
        <sec:intercept-url pattern="/usuarios-details.xhtml" access="ROLE_SUPERADMIN" />
        <sec:intercept-url pattern="/usuarios-new.xhtml" access="ROLE_SUPERADMIN" />
    </sec:http>
     
    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT username, password, 'true' as enable FROM usuario WHERE username=?"
                               authorities-by-username-query="SELECT username, description as authority FROM (usuario inner join role_has_usuario on idusuario = usuario_idusuario) inner join role on role_idrole = idrole WHERE username=?"
            />
        </sec:authentication-provider>
    </sec:authentication-manager>
</beans>